extends layout

block content
    .panel.panel-default
      .panel-body
        .col-sm-12
          h1 Album
        .col-sm-5.text-right#instruct
          h3 Add Photo
          p Use the form to the right to add photos!
        .col-sm-6
          form.form-horizontal(action="/photos", method='post', enctype="multipart/form-data")
            .form-group.is-fileinput
              label.control-label(for='inputFile') Photo
              input.form-control(type='text', readonly='', placeholder='Browse...')
              input#inputFile(type='file',  name="photos", multiple=true)
              span.material-input
            .form-group
              button.btn.btn-raised Submit
                .ripple-container
