extends layout

block content

  .jumbotron#splash
    h1= title
    p Welcome to #{title}
    .text-right
      form.form-horizontal(action="/register", method='get', enctype="multipart/form-data")
        button.btn.btn-raised.btn-lg.btn-success Sign Up!
          .ripple-container


  .panel.panel-default
    .panel-body
      .col-sm-5.text-right#instruct
        h3 Add Photo
        p Use the form to the right to add photos!
      .col-sm-6
        form.form-horizontal(action="/photos", method='post', enctype="multipart/form-data")
          .form-group.is-fileinput
            label.control-label(for='inputFile') Photo
            input.form-control(type='text', readonly='', placeholder='Browse...')
            input#inputFile(type='file',  name="photos", multiple=true)
            span.material-input
          .form-group
            button.btn.btn-raised Submit
              .ripple-container
  .panel.panel-default
    .panel-body
      .col-sm-12
        h3 Your Albums
      .col-sm-12
        .panel.panel-default.col-md-2.imgpanel
          .panel-body
            img.imgtile(src='https://i.ytimg.com/vi/tntOCGkgt98/maxresdefault.jpg')
          .panel-footer Cat Burrito
        .panel.panel-default.col-md-2.imgpanel
          .panel-body
            img.imgtile(src='https://i.ytimg.com/vi/tntOCGkgt98/maxresdefault.jpg')
          .panel-footer Cat Burrito
        .panel.panel-default.col-md-2.imgpanel
          .panel-body
            img.imgtile(src='https://i.ytimg.com/vi/tntOCGkgt98/maxresdefault.jpg')
          .panel-footer Cat Burrito
        .panel.panel-default.col-md-2.imgpanel
          .panel-body
            img.imgtile(src='https://i.ytimg.com/vi/tntOCGkgt98/maxresdefault.jpg')
          .panel-footer Cat Burrito
        .panel.panel-default.col-md-2.imgpanel
          .panel-body
            img.imgtile(src='https://i.ytimg.com/vi/tntOCGkgt98/maxresdefault.jpg')
          .panel-footer Cat Burrito
        .panel.panel-default.col-md-2.imgpanel
          .panel-body
            img.imgtile(src='https://i.ytimg.com/vi/tntOCGkgt98/maxresdefault.jpg')
          .panel-footer Cat Burrito
        .panel.panel-default.col-md-2.imgpanel
          .panel-body
            img.imgtile(src='https://i.ytimg.com/vi/tntOCGkgt98/maxresdefault.jpg')
          .panel-footer Cat Burrito
        .panel.panel-default.col-md-2.imgpanel
          .panel-body
            img.imgtile(src='https://i.ytimg.com/vi/tntOCGkgt98/maxresdefault.jpg')
          .panel-footer Cat Burrito
