extends layout

block content

  .jumbotron#splash
    h1= title
    p Welcome to #{title}
    .text-right
      form.form-horizontal(action="/register", method='get', enctype="multipart/form-data")
        button.btn.btn-raised.btn-lg.btn-success Sign Up!
          .ripple-container
