body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.photoThumb {
  margin: 0px 1vmax 1vmax 0px;
  padding: 0px;
}

.modal-footer {
  padding-bottom: 23px !important;
  padding-right: 23px !important;
}

.navbar-brand {
  font-family: 'Roboto Slab', serif;
}

.rightpanel {
  margin-bottom: 39px;
}

.imgThumbTemplate {
  display: none;
}

.template {
  display: none;
}

#regAlert {
  margin-top: 42px;
}

#splash {
  margin-top: 5vh;
  margin-bottom: 6vh;
}

.navbar-brand a {
  padding-right: 5px;
}


.imgpanel, .panel-body {
  padding: 0px;
}

.imgpanel {
  margin: 11px;
}

.imgtile {
  width: 100%;
}

#instruct {
  margin-top: 21px;
}

.add-icon {
  margin-left: 8px;
}

.albumModal{
  padding-top: 0px !important;
  margin-bottom: 23px;
}

#addAlbumForm {
  margin-top: 0px;
}

.albumTemplate {
  display: none;
}


/* VERTICALLY CENTER MODAL*/
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
